<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Component</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../../src/webvUI.min.css">
    <link rel="stylesheet" href="../../src/webvUI-menu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../src/webvUI.min.js"></script>
    <script type="text/javascript" src="../../src/webvUI-menu.js"></script>
    <script type="text/javascript" src="../../src/webvUI-slider.js"></script>
    <script type="text/javascript">
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
    </script>
</head>

<body style="background-color:#fafafa;">
    <div class="main-container">
        <div class="page toast js_show">
            <div class="page__hd">
                <h1 class="page__title">Toast</h1>
                <p class="page__desc">Toast prompts examples below</p>
            </div>
            <div class="page__bd page__bd_spacing">
                <a href="javascript:;" class="webvUI-btn webvUI-btn_default" id="showToast">Successful Toast</a>
                <a href="javascript:;" class="webvUI-btn webvUI-btn_default" id="showLoadingToast">Loading Toast</a>
            </div>
            <div id="toast" style="display: none;">
                <div class="webvUI-mask_transparent"></div>
                <div class="webvUI-toast">
                    <i class="webvUI-icon-success-no-circle webvUI-icon_toast"></i>
                    <p class="webvUI-toast__content">Success</p>
                </div>
            </div>
            <div id="loadingToast" style="display:none;">
                <div class="webvUI-mask_transparent"></div>
                <div class="webvUI-toast">
                    <i class="webvUI-loading webvUI-icon_toast"></i>
                    <p class="webvUI-toast__content">Loading</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" class="toast js_show">
        // toast
        $(function() {
            var $toast = $('#toast');
            $('#showToast').on('click', function() {
                if ($toast.css('display') != 'none') return;

                $toast.fadeIn(100);
                setTimeout(function() {
                    $toast.fadeOut(100);
                }, 2000);
            });
        });

        // loading
        $(function() {
            var $loadingToast = $('#loadingToast');
            $('#showLoadingToast').on('click', function() {
                if ($loadingToast.css('display') != 'none') return;

                $loadingToast.fadeIn(100);
                setTimeout(function() {
                    $loadingToast.fadeOut(100);
                }, 2000);
            });
        });
        </script>
    </div>
</body>

</html>